# global config
trailingComma: 'es5'
tabWidth: 4
semi: false
singleQuote: true
printWidth: 80
bracketSpacing: true

overrides:
    - files:
          - '*.java'
      options:
          printWidth: 140
          tabWidth: 4
          useTabs: false
          trailingComma: none
    - files:
          - '*.yaml'
          - '*.yml'
      options:
          printWidth: 140
          tabWidth: 2
          useTabs: false
          trailingComma: none
